table {
    border-collapse: collapse;
    font-size: 1em;
}
td {
    padding: 0;
}
#pedigree td:first-child {
    width: 8em;
    padding: 3px;
    position: relative;
}
tr.s > td:first-child::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 2px;
    height: 50%;
    border: solid gray;
    border-width: 1px 0 0 1px
}
tr.d > td:first-child::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 2px;
    height: 50%;
    border: solid gray;
    border-width: 0 0 1px 1px
}
input.ind {
    width: 10em;
    border: 1px solid gray;
}
html, body {
    height: 100%;
}
.container-fluid {
    height: 100% !important;
    overflow-y: hidden; /* don't show content that exceeds my height */
}
.row{
    height: 100% !important;
}